/* styles.css */
h1 {
  text-align: center;
  color: blue;
}

article {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #eee;
  padding: 5px;
}

